@media screen and (min-width: 768px) and (max-width: 991px){
  
  /* Conteneur des CARDS FOOTERS */
  .footer__nav { 
    flex-direction: column; 
  }

  /* Conteneurs de filtres */
  .hero__filters {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  /*   Section qui contient Hebergement / Les plus populaires    */
  .split-sections { flex-direction: column; }

  /*   Section les pluspopulaires */
  .section--featured {
    order: -1;
    margin-inline: calc(-1 * 5vw);
    padding: 48px 5vw;
    background-color: var(--couleur-04);
  }

}
